<section>
  <app-card [maxWidth]="'50rem'">
    <h1>Welcome to Instagram Followers Checker</h1>
    <p style="color: #555;">Follow these steps to use the application:</p>
    <ol>
      <li>Go to <a style="color: #000;" href="https://accountscenter.instagram.com/info_and_permissions/dyi/"
          target="_blank">Instagram
          Information and Permissions</a>.</li>
      <li>Tap <strong>"Download or Transfer your information"</strong> → <strong>"Some of your information"</strong> →
        Select <strong>"Followers and following"</strong> and tap <strong>"Next"</strong>.</li>
      <li>Choose the following settings:
        <ul>
          <li><strong>Format:</strong> JSON</li>
          <li><strong>Date range:</strong> All Time</li>
        </ul>
      </li>
      <li>Tap <strong>"Create file"</strong> and wait for the email from Instagram.</li>
      <li>Download the ZIP file from the email and extract it.</li>
      <li>Inside the extracted folder, find <code>followers_1.json</code> and <code>following.json</code>.</li>
      <li>Choose both files using the form below and click <strong>Upload</strong>.</li>
      <li>If the files are successfully uploaded, click the <strong>View Results</strong> button to see who doesn't
        follow you back and
        who you don't follow back.</li>
    </ol>

    <p class="text-justify"><strong>Privacy Notice:</strong> This application does not access, store, or share any
      private data.
      The uploaded files only contain public follower and following lists from Instagram, without any sensitive or
      personal information.</p>

    <div class="upload-container">
      <h2>Upload your JSON files</h2>
      <label>
        <p-fileupload name="demo[]" [customUpload]="true" (uploadHandler)="handleFileInput($event)" [multiple]="true"
          accept=".json" mode="advanced">
        </p-fileupload>
      </label>
    </div>
    <a *ngIf="showResultsLink" routerLink="/results"
      class="flex justify-content-start w-max mt-5 no-underline p-button font-bold">
      View Results
    </a>
  </app-card>
</section>